<%- include('./components/head.ejs') %>

    <link rel="stylesheet" href="css/main.css">
    <script src="js/grid.js"></script>
    </head>

    <body onload="resizeAllGridItems()">

        <%- include('./components/menu.ejs') %>

        <% if (images.length == 0) { %> 
            <h1>No images found</h1>
        <% } else { %>
            <div class="grid">
               
                <% for (let i = 0; i < images.length; i++) { %>
                <div class="item photo">
                    <div class="content">
                        <div class="title">
                            <h3><%= images[i].title %></h3>
                        </div>
                        <img class="photothumb" src="uploads/<%= images[i].path %>">
                    </div>
                </div>
                <% } %>
            </div>
        <% } %>
    </body>

    </html>